ion-card {
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 16px;
    margin-top: 20px;
  }
  
  ion-card-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  ion-item {
    --highlight-height: 0;
    margin-top: 16px;
  }
  