<ion-header>
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="bookings.length > 0">
    <ion-card *ngFor="let booking of bookings">
      <ion-card-header>
        <ion-card-title>Booking ID: {{ booking.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>User:</strong> {{ booking.user.name }}</p>
        <p><strong>Handyman:</strong> {{ booking.handyman.user.name }}</p>
        <p><strong>Service:</strong> {{ booking.handyman.service.name }}</p>
        <p><strong>Time:</strong> {{ booking.datetime }}</p>
      </ion-card-content>
      
    </ion-card>
  </ion-list>

  <p *ngIf="bookings.length === 0">No bookings yet.</p>
</ion-content>
