<ion-content>
  <ng-container *ngIf="handyman; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ handyman.user.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Skill:</strong> {{ handyman.service.name }}</p>
        <p><strong>Phone:</strong> {{ handyman.user.phone || 'N/A' }}</p>
        <p><strong>Email:</strong> {{ handyman.user.email }}</p>
        <p><strong>Bio:</strong> {{ handyman.bio || 'No bio available' }}</p>
        <p><strong>Available:</strong> Yes</p>

        <!-- Map here -->
        <div id="map"></div>

        

        <ion-button [routerLink]="['/booking-form', handyman.id]">Book Now</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <p>Loading handyman details...</p>
  </ng-template>
</ion-content>
