// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #333;
    --ion-color-secondary: #666;
    --ion-color-tertiary: #999;
    --ion-color-light: #eee;
    --ion-color-medium: #ccc;
    --ion-color-dark: #000;
    --ion-background-color: #fff;
    --ion-text-color: #000;
  }
  
